@import "tailwindcss";

.custom-gradient-bg {
  background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #111150 100%);
}

body {
  background: rgb(14, 14, 14);
  color: white;
  font-family: "Poppins", sans-serif;
}

.button-primary {
  @apply py-2 px-6 cursor-pointer text-white bg-blue-950 rounded-lg hover:bg-blue-900 hover:text-white hover:scale-103 transition-all duration-300;
}

.button-secondary {
  @apply py-2 px-4 cursor-pointer text-white/70 border border-white/40 rounded-lg hover:border-white hover:text-white hover:scale-103 transition-all duration-300;
}
